<h2>Add a New Burger:</h2>
<form>
    <input type="text" id="burger-name" name="burger_name" placeholder="Name of a new burger...">
    <button id="add-burger" type="submit">Add!</button>
</form>

<h2>Ready to devour:</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
    <div><p>{{this.burger_name}}</p><button class="devour-burger" data-id="{{this.id}}">Devour!</button></div>
    {{/unless}}
  {{/each}}
</ul>

<h2>Already Devoured:</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
    <div>
        <div>
            <p>{{this.burger_name}}</p>
        </div>
    </div>
    {{/if}}
  {{/each}}
</ul>


<script type="text/javascript">

    $("#add-burger").on("click", function(){
        var addedBurger = $("#burger-name").val().trim();
        if (addedBurger === "") {
            alert("Please type the name of a burger!");
        } else {
            $.ajax({
                url: "/api/burgers",
                type: "post",
                data: {burger_name: addedBurger}
            }).then(function(data){
                console.log(data);
                location.reload();
            })
        }
    });

    $(document).on("click", ".devour-burger", function(){
        var clickedID = $(this).attr("data-id");
        $.ajax({
            url: "/api/burgers/" + clickedID,
            type: "put",
            data: {id: clickedID}
        }).then(function(data){
            console.log(data);
            location.reload();
        })
    });

</script>