body {
    background: url("../img/food.png");
    font-family: 'Exo 2', sans-serif;
    padding-left: 20px;
}

p {
    font-size: 12pt;
    margin: 2px;
}

h2 {
    font-size: 14pt;
    margin: 40px 0 20px 0;
}

button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 10pt;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

#burger-name {
    width: 250px;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px
}